# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/target
/src/main/resources/amtliches-gebaeudeadressverzeichnis_li_2056.csv
/src/main/resources/amtliches-gebaeudeadressverzeichnis_ch_2056.csv
/src/main/resources/swissBOUNDARIES3D_1_5.xtf